<!DOCTYPE html>
<html>
<head>
  <title>Shorty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<% if flash[:shortened_id].present? %>
  <p class="shortened-link">
    The shortened url is available <%= link_to 'here', url_url(flash[:shortened_id]) %>.
    (Right click and copy link to share it).
  </p>
<% end %>

<% if @shortened_url.errors[:url].any? %>
  <p class='error-messages'>
    The given url <%= @shortened_url.errors[:url].to_sentence %>.
  </p>
<% end %>
<div class="footer">
  <center style="color: #333; font-family: Courier; font-size: 11px;">
    <br /><br />&copy; Made with love using Rails
  </center>
</div>
</body>
</html>
